<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-API-key" content="8508fb67480f042c6429bb02a251aad3edb67582">
    <link rel="stylesheet" href="{$url}assets/css/style.css">
    <link rel= "stylesheet" href= "assets/package/icon8/css/line-awesome.min.css" >
    <title>Error 404 | Not Found</title>
</head>
<body class="center-page">
    <div class="semibold">
        404 | Not Found Error
    </div>
</body>
</html>