<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Prefix" content="{\AbieSoft\AsetCode\Utilities\Config::envReader('ADMIN_PREFIX')}">
    <meta name="Baseurl" content="{$url}">
    <meta name="x-API-key" content="oIalAsd2Iamfj.plqjs">
    <meta name="x-Form-Key" content="">
    <link rel="stylesheet" href="{$url}assets/css/authstyle.css">
    <link rel= "stylesheet" href= "{$url}assets/package/icon8/css/line-awesome.min.css" >
    {block css}{/block}
    <title>{block title}{$title}{/block}</title>
</head>
<body>

    <div class="auth-container">
        <div class="form">
            <div class="card">
                <div class="logo"><img src='{$url}assets/images/logo_login.png' onClick='window.location.href=this.dataset.link' data-link="{$url}"></div>
                <div class="label"><h3>{$page}</h3></div>
                <form method="post" id="formInput" name="formInput">
                    <div class="form-grup">
                        <label for="nama">Nama</label>
                        <input class="form-control" id="nama" name="nama" value="{$googleNama}" placeholder="Nama anda" autofocus>
                    </div>
                    <div class="form-grup">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" value="{$googleEmail}" placeholder="contoh: email@email.com">
                    </div>
                    <div class="form-grup">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="***">
                    </div>
                    <div class="form-button">
                        <input type="hidden" id="__method" name="__method" value="REGISTRASI">
                        <button><span id="btnSubmit">Registrasi</span></button>
                    </div>
                </form>
                <div class="link-area mt-10">Sudah punya akun? <a href="/login">Login</a></div>
                {if $linkgooglelogin != ""}
                    <div class="line"><span>atau</span></div>
                    <div class="form-button">
                        <button type="button" onClick="window.location.href=this.dataset.link" data-link="{$linkgooglelogin}"><img src="{$url}assets/images/google.png"><span>Login dengan Google</span></button>
                    </div>
                {/if}
            </div>
        </div>
        <div class="cover">
            {* <img src="assets/images/website/login_wall.jpg"> *}
            <img class="logo" src="{$url}assets/images/logo.png">
        </div>
    </div>
    <div id="toasthere"></div>
    <script src="{$url}assets/js/jquery-3.7.0.js"></script>
    <script src="{$url}assets/js/authstyle.js"></script>
    <script src="{$url}assets/js/validasi.js"></script>
    <script src="{$url}assets/js/toast.js"></script>
    {block js}
        <script>
            let formInput = el("#formInput");
            formInput.addEventListener("submit", (e)=>{
                e.preventDefault();
                let nama = document.forms["formInput"]["nama"];
                let email = document.forms["formInput"]["email"];
                let password = document.forms["formInput"]["password"];
                let btnSubmit = el("#btnSubmit");

                if(setText(nama.value)){
                    Toast({
                        tipe: 'error',
                        message: 'Nama '+setText(nama.value)
                    });
                    nama.focus();
                }else if(setEmail(email.value)){
                    Toast({
                        tipe: 'error',
                        message: 'Email '+setEmail(email.value)
                    });
                    email.focus();
                }else if(setText(password.value)){
                    Toast({
                        tipe: 'error',
                        message: 'Password '+setText(password.value)
                    });
                    password.focus();
                }else{
                    btnSubmit.innerHTML = "Menyimpan..";
                    const form = document.querySelector('form[id="formInput"]');
                    const formData = new FormData(form);
                    fetch(Baseurl + 'api/auth', {
                        method: 'POST',
                        headers: HEADERFORM,
                        body: formData
                    }).then(response => response.text()).then(pesan => {
                        btnSubmit.innerHTML = "Registrasi";
                        if(pesan == "Logged"){
                            window.location.href = Baseurl+Prefix;
                        }else{
                            Toast({
                                tipe: 'error',
                                message: pesan
                            });
                        }
                    }).catch(error => {
                        btnSubmit.innerHTML = "Registrasi";
                        Toast({
                            tipe: 'error',
                            message: error
                        });
                    });
                }
            });
        </script>
    {/block}
</body>
</html>